body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: none;
    height: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #3c043c;
    border-radius: 50px;
}

::-webkit-scrollbar-corner {
    display: none;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #4f134e;
    padding: 15px 30px;
    max-height: 5%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
}

.logoName {
    position:absolute;
    left: 10%;
    transform: translateX(-100%);
    
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #90037b;
}

.mainCont {
    display: flex;
    height: 70%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    gap: 5px;
    position: relative;
}

.textFieldCont {
    display: flex;
    width: 70%;
    min-width: 50%;
    background: #4f134e;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    height: auto;
    tab-size: 1.5em;
}

.widthResizer {
    width: 3px;
    background: #4a2949;
    cursor: ew-resize;
    position: relative;
    height: 10%;
    top: 45%;
    border-radius: 5px;
}

.line-num {
    width: 25px; 
    padding: 10px 5px;  
    text-align: right;
    font-size: 16px;  
    color: #ffffff;
    background: #3c043c;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: monospace;
    line-height: 1.5;  
    user-select: none;  
    overflow: hidden;
    height: inherit;
    overflow-y: auto; 
}

.line-num::-webkit-scrollbar {
    display: none;
}

.codeEditor {
    flex-grow: 1;
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    outline: none;
    resize: none;
    font-family: monospace;
    line-height: 1.5;
    caret-color: white;
    height: inherit; 
    overflow-y: auto;
    position:relative;
    overflow-x: auto;
    white-space: nowrap;
}


.line-num div {
    height: 24px; 
}

.outputCont {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 8px;
    overflow-x: hidden;
}


.tokenTable {
    border-collapse: collapse;
    width: 100%;
    background: #282c34;
    color: white;
    border-radius: 8px;
}

.tokenTable th {
    background-color: #4f134e;
    color: white;
    text-align: center;
    padding: 10px;
}

.tokenTable td {
    text-align: left;
    padding: 8px;
    font-size: 14px;
    word-break: break-word;
}

.tokenTable tr:nth-child(even) {
    background: #4f134e;
}

.tokenTable tr:nth-child(odd) {
    background: #3c043c;
}

.heightResizer {
    height: 3px;
    background: #4a2949;
    cursor: ns-resize;
    position: relative;
    width: 5%;
    margin: 5px;
    left: 50%;
    border-radius: 20px;
}

.errorBox {
    width: inherit;
    flex-grow: 1;
    background: #4f134e;
    border-radius: 5px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    padding-top: 20px;
}

#errorTitle {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
}

#errorText {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    background: #3c043c;
    color: #ffffff;
    margin: 10px;
    resize: none;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 5px;
}

.token-value {
    white-space: pre;
}

